/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/

@media (max-width: 576px) {
    #servicios-fila-2 {
        width:100% !important;
    }
    #servicios-fila-1 {
        width:100% !important;
    }

    .icono-wrap{
        flex-wrap:wrap !important;
        justify-content: center !important;
        text-align: center;
    }
}